.m-recommend{
    padding: 0 10px;
    .m-map{
        img{
            width: 230px;
            height: 220px;
            border: 1px solid #e5e5e5;
            border-radius: 4px;
        }
    }

    .m-like{
        margin-top: 10px;
        border: 1px solid #e5e5e5;
        padding: 16px 20px 0;
        border-radius: 4px;
        dt{
            font-size: 17px;
            color: #333;
            width: 188px;
            margin-bottom: 12px;
        }
        dd{
            margin-bottom: 20px;
            img{
                width: 190px;
                height: 106px;
                border-radius: 4px;
            }
            .el-rate{
                display: inline-block;
                .el-rate__icon{
                    margin-right: 3px;
                }
            }
            .area,
            .comment{
                line-height: 32px;
                font-size: 12px;
                color: #999;
            }
            .priceWrap{
                font-size: 14px;
                font-weight: 700;
                color: #f60;
                b{
                    margin-left: 4px;
                    font-size: 12px;
                }
                span{
                    font-family: numbers;
                    font-size: 22px;
                }
            }
        }
    }
}